// ------ MEDIA QUERIS ------\\
$screen-xs-min: 414px;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

// ------ COLOR ------\\
$primary-color: #0B132A;
$secondary-color: #4F5665;
$accent-color: #F53838;
$border-card-color: #DDDDDD;
$light-color: #FEFEFE;
$medium-color: #F8F8F8;
$dark-color: #AFB5C0;
$white-color: #ffffff;

// ------ TYPOGRAPHY ------\\
// FONT SIZE
$xxs: 14px;
$xs: 16px;
$sm: 18px;
$md: 20px;
$lg: 25px;
$xl: 35px;
$xxl: 50px;

// FONT WEIGHT
$regular: 400;
$medium: 500;
$bold: 700;
